.homePage{
    background-image: url('https://pro2-bar-s3-cdn-cf3.myportfolio.com/4d29a4ffc41663d7f15cc554c9e98126/ed9065714724f95c222bef2a9d4e4a02616ecae9e2ce7687cf010f4b08921b151657b09f287aa673_car_202x158.gif?h=531046b4c84b8fc527630563cad865bb&url=aHR0cHM6Ly9taXItczMtY2RuLWNmLmJlaGFuY2UubmV0L3Byb2plY3RzL29yaWdpbmFsL2RlNGYxYzQzMjYwNjc5LlkzSnZjQ3cyTkRFc05UQXlMREFzTmprLmdpZg==');
    background-repeat: no-repeat;
    background-size: cover;
}
.homePageText{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51vw;
    font-size: 3.5vw;
    color: white;
}
.text{
    font-weight: bold;
    color: rgb(224, 53, 53);
}